<script>
    $j(document).ready(function() {
        
        
    
    });
    
</script>

<div id="reporteEvaluacion" style="display: none;">
    <div id="wizardReporteEvaluacion" class="center" style="width: 800px;">
        <h2>Conocimientos Jur&iacute;dicos</h2>
        <section>
            <div style="position: absolute; width: 94.5%; height: 465px;" id="divPreguntasSeccion1">
                
            </div>
        </section>
        
        <h2>Forma de Trabajo</h2>
        <section>
            <div style="position: absolute; width: 94.5%; height: 465px;" id="divPreguntasSeccion2">
                
            </div>
        </section>
        
        <h2>Habilidades y Capacidades</h2>
        <section>
            <div style="position: absolute; width: 94.5%; height: 465px;" id="divPreguntasSeccion3">
                
            </div>
        </section>
        
        <h2>Eficiencia y Ejecuci&oacute;n</h2>
        <section>
            <div style="position: absolute; width: 94.5%; height: 465px;" id="divPreguntasSeccion4">
                
            </div>
        </section>
        
        <h2>Actitud</h2>
        <section>
            <div style="position: absolute; width: 94.5%; height: 465px;" id="divPreguntasSeccion5">
                
            </div>
        </section>
    </div>
</div>