<table class="datoPrincipal" style="border-collapse: collapse;" cellspacing="0" cellpadding="4" width="100%" border="0">
    <!-- BEGIN PREGUNTAS -->
    <tr valign="top">
        <td class="datoPrincipal">
            {PREGUNTA}
            <input type="hidden" id="idPregunta{NUMERO}Seccion{SECCION}" name="idPregunta{NUMERO}Seccion{SECCION}" value="{ID_PREGUNTA}">
        </td>
        <td class="datoPrincipal">
            <select id="respuestasPregunta{NUMERO}Seccion{SECCION}">
                <option value="5">5</option>
                <option value="4">4</option>
                <option value="3">3</option>
                <option value="2">2</option>
                <option value="1">1</option>
                <option value="0">0</option>
            </select>
        </td>
    </tr>
    <tr>
        <td class="datoPrincipal" colspan="2">
            <hr color="#ED631F" size="2">
        </td>
    </tr>
    <!-- END PREGUNTAS -->
</table>