<ul id="menu" style="width: 94.9%; margin: 1px;">
    
    <li><a href="#" class="drop">Usuarios</a><!-- Begin 4 columns Item -->
    
        <div class="dropdown_1column"><!-- Begin 4 columns container -->
            
                <div class="col_1">
                    <ul>
						<li><a id="menuNuevoUsuario" href="javascript:;" onclick="nuevoUsuario()">- Nuevo</a></li>
						<li>{MENU_EDITAR_USUARIO}</li>
						<!--<li><a class="hrefDisabled" id="menuEditarUsuario">- Editar</a></li>-->
						<li><a class="hrefDisabled" id="menuGuardarUsuario">- Guardar</a></li>
						<li><a class="hrefDisabled" id="menuCancelarEdicionUsuario">- Cancelar Edici&oacute;n</a></li>
						<li>{MENU_BORRAR_USUARIO}</li>
						<!--<li><a class="hrefDisabled" id="menuBorrarUsuario">- Borrar</a></li>-->
                    </ul>   
                </div>
                
            </div><!-- End 4 columns container -->
    
    </li><!-- End 4 columns Item -->
    
    <li class="menu_right">
        <a href="javascript:;" onclick="window.close();">Cerrar</a>
    </li>

</ul>
