<ul id="menu" style="width: 94.9%; margin: 1px;">
    
    <li><a href="#" class="drop">Abogados</a><!-- Begin 4 columns Item -->
    
        <div class="dropdown_1column"><!-- Begin 4 columns container -->
            
                <div class="col_1">
                    <ul>
						<li><a id="menuNuevoAbogado" href="javascript:;" onclick="nuevoAbogado()">- Nuevo</a></li>
						<li>{MENU_EDITAR_ABOGADO}</li>
						<!--<li><a class="hrefDisabled" id="menuEditarAbogado">- Editar</a></li>-->
						<li><a class="hrefDisabled" id="menuGuardarAbogado">- Guardar</a></li>
						<li><a class="hrefDisabled" id="menuCancelarEdicionAbogado">- Cancelar Edici&oacute;n</a></li>
						<li>{MENU_BORRAR_ABOGADO}</li>
						<!--<li><a class="hrefDisabled" id="menuBorrarAbogado">- Borrar</a></li>-->
                    </ul>   
                </div>
                
            </div><!-- End 4 columns container -->
    
    </li><!-- End 4 columns Item -->
    
    <li class="menu_right">
        <a href="javascript:;" onclick="window.close();">Cerrar</a>
    </li>

</ul>
